/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: "Alef";
    font-size: 14px;
    /* Declare the base font-family - from google font api or other */
}

header,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 767px;
    margin: 0 auto;
    padding: 8px;
    border: solid 1px gray;
}

header {
    background-color: #6ac6f9;
}

header h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 0;
}

header img {
    float: left;
    width: 80px;
}

header .subheading {
    margin-left: 100px;
    font-size: .8rem;
}

.logo .small {
    max-width: 80px;
}

.logo .large {
    display: none;
}

nav {
    max-width: 767px;
    margin: 0 auto;
    clear: both;
}

nav button {}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #636154;
}

nav ul li {}

nav ul li a {
    display: block;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #ffb748;
    color: white;
}

nav ul li a:hover {
    background-color: gray;
    color: white;
}

main {}

main h1 {
    color: black;
    font-size: 24px;
}

main h2 {
    color: #f0341f;
    font-size: 20px;
}

main h3 {
    color: #ffb748;
    font-size: 16px;
}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {
    width: 100%;
}

section {
    font-size: .8rem;
}

.summarytable {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 70%;
}

picture {
    display: inline;
    margin: 0 auto;
}

.highlow,
.current,
.conditions {
    display: inline-block;
    text-align: center;

}

.current p {
    text-decoration: underline;
    margin-bottom: 0;
}

.forecast {
    display: none;
}

table {
    margin: 0 auto;
}

th {
    padding: 8px;
    border: solid .5px lightgray;
}

td {
    padding: 8px;
    border: solid .5px lightgray;
}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%;
    /* fill the page in the small/phone view */
    margin: 0 auto;
}

.town-article {
    overflow: hidden;
    padding: 10px;
    
}

footer {
    background-color: #636154;
    color: white;
    text-align: center;
}

footer aside {
    text-decoration: none;
}

footer > p {}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
