* {
    font-family: open sans, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: floralwhite;
}

p {
    margin: 5px;
    padding: 5px;
}

header,
footer {
    background-color: black;
    padding: 0;
    border-bottom: 1px dimgray solid;
    color: white;
}

.contain {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

header .contain {
    padding-bottom: 0px;
}

.logo {
    max-width: 100%;
    padding: 8px;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    font-family: helvetica;
}

h2 {
    margin: 1rem 0;
    font-size: 2rem;
    color: red;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
    color: red;
    padding: 5px;
    text-transform: uppercase;
}


.hamburger {
    margin: .5rem 0;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}


nav {
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    background-color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    /*This centers when in larger screens*/
}

nav ul li {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav ul li a {
    display: flex;
    justify-content: center;
    color: white;
    padding: .8rem 2%;
    text-decoration: none;
    border-bottom: 4px solid black;
    width: 100%;
    transition: border-color .3s;
}

nav ul li.active a {
    border-color: black;
    color: yellow;
}

nav ul li a:hover {
    color: red;
}

main div {
    margin: 0;
    padding: 0;
}

main .box {
    box-shadow: 0px 1px 4px dimgray;
    margin: .8rem 0;
    background-color: white;
    border-radius: 4px;
}

.box a {
    transition: .3s;
}

.box a:hover {
    box-shadow: 0px 2px 16px dimgray;
}

.banner {
    background: url(../images/home-mountain-view.jpg);
    background-position: center;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text-overlay {
    background: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
    text-align: center;
    margin: 50px auto 0 auto;
    width: 100%;
    align-self: flex-end;
}

.action-button {
    align-content: center;
    margin: 10px
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    /*experiment to force space between flex items - part 1 of 2*/
}

.highlights > div {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 8px 5px 20px;
    /*experiment to force space between flex items - Part 2 of 2*/
}

.highlights img {
    max-width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    /*Images distoring unless I did this*/
}

.highlights a {
    text-decoration: none;
}

/**********************Tabbed Sections*****************************/

/* Style the tab */

.tab {
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 1rem;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: white;
    float: left;
    border: .5px solid silver;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 2px;
    transition: 0.3s;
    border-bottom: 4px solid dimgray;
}

/* Change background color of buttons on hover */

.tab button:hover {
    border-bottom-color: red;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: black;
    border-bottom-color: black;
    color: white;
    border-bottom-color: yellow;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: .5px solid black;
    background-color: inherit;
}

/**********************Accordion Sections*****************************/

.accordion {
    margin: auto;
}

.accordion a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: .5px solid silver;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 4px solid dimgray;
    color: black;
}

.accordion h4,
.accordion div {
    margin: 5px;
}

.product {
    display: flex;
    flex-direction: column;
    border: .5px silver solid;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product div {
    align-self: center;
    flex: auto;
}

.product div.product-desc {
    align-self: flex-start;
}

.product img {
    width: 100%;
    height: auto;
}

/******************************************************************/

.footer-divs {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-divs div {
    flex: 1;
    padding: 10px;
}

.footer-divs div:nth-child(1) {
    min-width: 300px;
}

.footer-bar {
    background-color: #47a7cc;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: black;
    border-bottom: 1px black solid;
}

input,
select,
textarea {
    min-width: 100%;
    padding: 4px;
    margin: 4px;
}

input.submitBtn,
.banner-button, .add-button {
    color: white;
    border: solid 1px #111;
    padding: .5rem;
    font-size: 1.2rem;
    background: red;
    transition: background .3s, color .3s;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
}

input.submitBtn:hover,
.banner-button:hover {
    color: black;
    border: solid 1px black;
    padding: .5rem;
    font-size: 1.2rem;
    background: yellow;
}

/**************media queries**************/

/*Small screens*/

@media only screen and (max-width: 40rem) {
    .primaryNav li {
        display: none;
    }

    .primaryNav.responsive li {
        display: flex;
    }

    .primaryNav.responsive li a {
        flex: 0 0 auto;
    }
    .footer-divs {
        flex-direction: column;
    }
    h1 {
        font-size: 2.5rem;

    }
    h2 {
        font-size: 1.6rem;
        text-align: center;
    }

}

/*Medium Screens*/

@media only screen and (min-width: 40rem) {
    nav button {
        display: none;
    }
    .primaryNav {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    nav ul li a:hover {
        color: white;
        border-color: red;
    }
    nav ul li.active a {
        border-color: yellow;
        color: white;
    }
    .footer-divs {
        flex-wrap: wrap;
    }
    .banner {
        justify-content: flex-end;
    }
    .action-button {
        align-self: flex-end;
        margin: 10px
    }
    .product {
        flex-direction: row;
    }
    .product div.product-desc {
        flex: 0 0 250px;
    }
}

/*Large Screens*/

@media only screen and (min-width: 60rem) {}

/*****End media queries****/
