/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: "Alef";
    font-size: 14px;
    background-color: silver;
    /* Declare the base font-family - from google font api or other */
}

header,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    border: solid 1px gray;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 1;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #6ac6f9;
}

header h1 {
    font-size: 20px;
    margin-bottom: 0;
}

header img {
    /*float: left;*/
    width: 80px;
    vertical-align: middle;
}

header .subheading {
    font-size: .8rem;
}

.logo .small {
    max-width: 80px;
}

.logo .large {
    display: none;
}

.hamburger {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

/**************Here is where we'll do media queries to make the menu responsive.**************/

/*Small screens*/

@media only screen and (max-width: 35em) {
    .primaryNav li {
        display: none;
    }

    .primaryNav.responsive li {
        display: flex;
    }

    .primaryNav.responsive li a {
        flex: 0 0 auto;
    }
}

/*Medium Screens*/
@media only screen and (min-width: 25em) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Large Screens*/

@media only screen and (min-width: 35em) {
    .primaryNav {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    .primaryNav li {
        display: inline-flex;
        border: none;
        margin: 0 auto;
    }
}

/*****End media queries****/

nav {
    max-width: 800px;
    margin: 0 auto;
    border: solid 1px gray;
    clear: both;
    background-color: #636154;
}

/*
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /*This centers when in larger screens*/
}

nav ul li {
    margin: 0 auto;
    padding: 0;
    width: 96%;
}

nav ul li a {
    display: flex;
    justify-content: center;
    /*This centers when in smaller screens (hamburger)*/
    color: white;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, .3);
    width: 100%;
}

nav ul li.active a {
    background-color: #ffb748;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}


main {
    background-color: white;
}

main h1 {
    color: black;
    font-size: 24px;
}

main h2 {
    color: #f0341f;
    font-size: 20px;
}

main h3 {
    color: #ffb748;
    font-size: 16px;
}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {
    width: 100%;
}

section {
    font-size: .8rem;
}

section.gallery figure {
    max-height: 100%;
    max-width: 100%;
}

.summarytable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 96%;
}

picture {
    display: flex;
    margin: 0 auto;
}

.highlow,
.current,
.conditions,
.wind-chill {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    min-width: 80px;
}

.current p {
    text-decoration: underline;
    margin-bottom: 0;
}

.forecast {
    display: none;
}

table {
    margin: 0 auto;
}

th {
    padding: 8px;
    border: solid .5px lightgray;
}

td {
    padding: 8px;
    border: solid .5px lightgray;
}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%;
    /* fill the page in the small/phone view */
    margin: 0 0 1em 0;
}

.town-article {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

footer {
    background-color: #636154;
    color: white;
    text-align: center;
}

footer aside {
    text-decoration: none;
}

footer > p {}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
